nav{
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
    color: black;
    font-weight: 500;
    font-size: x-large;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
}


body{
    margin: 0;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}


.my-forms
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.my-forms .row
{
    margin-left: 0;
    margin-right: 0;
}


